*{
    font-family: 'Source Sans Pro', sans-serif;
}

h1{
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 900;
    font-size: 36px;
    padding: 10px;
    padding-left: 15px;
}

h2{
    font-weight: 700;
    font-size: 24px;
    padding-left: 15px;
}

h3{
    font-weight: 900;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    left: 50vh;
}

h4.goal {
    font-size: 18px;
    margin-left: 3rem;
}

p{
    padding: 10px;
    padding-left: 15px;
}

em{
    color: #00325b;
    font-style: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 20px;
    overflow: hidden;
    float: right;
}

.header{
    background: #FFFFFF;
}

.title{
    color: #666;
    font-size: 44px;
    font-weight: 400;
}

.nav{
    position: absolute;
    right: 0;
    margin-top: 2vh;
}

.container-fluid{
    display: flex;
    padding: 0;
    margin: 0;
}

.blue{
    background: #abccf7;
    width: 100%;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}

.white{
    background: #ffffff;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* .mission{
    text-align: center;
} */

.section-title{
    width: 60%;
    display: flex;
}

.section-text{
    width: 60%;
    display: flex;
}

.mission-img{
    height: 23vh;
    width: auto;
    margin-left: 7vh;
    margin-right: 7vh;
}

.problem-img{
    height:50vh;
    width: 50vh;
    margin-top: 5px;
}

.involved{
    padding-left: 0;
}

.btn{
    color: white;
    background-color: #ed2f80;
}

.quote {
    margin-left: 2rem;
}

.goal {
    margin-left: 2rem;
}